<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HtmlAgilityPack" version="1.11.40" targetFramework="net461" />
  <package id="Selenium.WebDriver" version="4.1.0" targetFramework="net461" />
  <package id="Selenium.WebDriver.ChromeDriver" version="97.0.4692.7100" targetFramework="net461" />
</packages>